### Importing necessary Libraries

In [75]:
import sqlite3 as sql

### Connect the dataset

In [76]:
conn = sql.connect('machine_learning.db') # it will connect ml.db or create if not exist and connect
cursor = conn.cursor()

### Create a Table in the database

In [77]:

# function to create table 
def create_table():
    cursor.execute('''
        create table if not exists MLmodel (
        id INTEGER PRIMARY KEY,
        type text not null,
        model_name text not null,
        model_type text not null
        )
    ''')
    conn.commit()

### Check the table is created or NOT

In [78]:
create_table()

In [79]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='MLmodel'")
table_exists = cursor.fetchone() is not None

if table_exists:
    print("The 'MLmodel' table exists ")
else:
    print("The 'MLmodel' table does not exist ")

The 'MLmodel' table exists

### Function for ADDING

In [80]:

def add_model(type,model_name,model_type):
    cursor.execute('insert into MLmodel (type,model_name,model_type) values (?,?,?)', (type, model_name, model_type))
    conn.commit()

### Function for RETRIEVING

In [81]:

def display_all_models():
    cursor.execute('SELECT id, type, model_name, model_type FROM MLmodel')
    return cursor.fetchall()

### Function for UPDATING

In [82]:

def update_model(id,type,model_name,model_type):
    cursor.execute('update MLmodel SET type=?, model_name=?, model_type=? WHERE id = ? ',(type,model_name,model_type,id))
    conn.commit()

### Function for DELTEING

In [83]:

def delete_model(id):
    cursor.execute('DELETE from MLmodel WHERE id=?',(id,))
    conn.commit()

### Function for SEARCH

In [84]:

def search_model(model_name):
    cursor.execute('SELECT * FROM MLmodel WHERE model_name=?',(model_name,))
    return cursor.fetchall()

### ADDING some values to the database

In [85]:

add_model('Supervised','Decison Tree','Classification')
add_model('Unsupervised','KMeans','Classification')
add_model('Supervised','Linear Regression','Classification')
add_model('Supervised','Logistic Regression','Classification')

### Display after ADDING

In [86]:

display_all_models()

[(1, 'Supervised', 'Decison Tree', 'Classification'),
 (2, 'Unsupervised', 'KMeans', 'Classification'),
 (3, 'Supervised', 'Linear Regression', 'Classification'),
 (4, 'Supervised', 'Logistic Regression', 'Classification')]

### Update model

In [87]:

update_model(3,'Supervised', 'Linear Regression', 'Regression')

### Display After UPDATE

In [88]:

display_all_models()

[(1, 'Supervised', 'Decison Tree', 'Classification'),
 (2, 'Unsupervised', 'KMeans', 'Classification'),
 (3, 'Supervised', 'Linear Regression', 'Regression'),
 (4, 'Supervised', 'Logistic Regression', 'Classification')]

### SEARCH a model by model_name

In [89]:

search_model('Decison Tree')

[(1, 'Supervised', 'Decison Tree', 'Classification')]

### Delete a model

In [51]:

delete_model(4)

### Display After DELETE

In [52]:

display_all_models()

[(1, 'Supervised', 'Decison Tree', 'Classification'),
 (2, 'Unsupervised', 'KMeans', 'Classification'),
 (3, 'Supervised', 'Linear Regression', 'Regression')]

### Closing the connection at the end

In [90]:

conn.close()

# Description how I organized my database and why I chose that particular structure

The task here is to working with database using python and the condition is the script must be capable of doing **ADD, UPDATE, RETRIEVE, DELETE**.  

Firstly, I imported **sqlite3** database for my work.  
        Why **sqlite3**? 
                  
                    - Because it is very popular and light-weight database.    
                             
                    - It is a built-in module in python.    
                             
                    - Easy to use.  
                             
                    - Zero configuration etc. 
                             
As we can see the task I have performed here are very simple and basic operation. So considering these facilities I chose that dataset.  

After importing our first work is to create a database (if not created previously) and connect it. I have created a dataset and connect it. I also created a cursor from connection because we need **Cursor** to do operation like fetch, execute the sql command etc.  

To do the operation mentioned into the task we need a tabel and some data to perform the operations. My first target was to create a table. So, I have created a table called **MLmodel** with some text type varibale **(like- type, model_name, model_type) and set ID (integer)** as Primary key.  

Now into the next sell I checked whether the table created or not.  

After checking I just simply write some function as per the requirement. I have created-

                    - **add_model(model data)** to add new model into the MLmodel table. 
                                
                    - **update_model(model data)** to update data from MLmodel table.
                                
                    - **display_all_model()** for RETRIEVING data from MLmodel and display.

                    - **delete_model(id)** to delete perticular entry from MLmodel by ID.

                    - **search_model(model_name)** to search something from MLmodel table by model_name.  

I execute all the function one by one and display.  
For example-

                    - add some entity, then display. 
                              
                    - update a entity, then display.
                              
                    - search a entity by it's name.
                              
                    - delete a entity by it's id, then display.
    
At the end I close the connection with the database.